# ============================================
# Bebek Goreng Spesial Haji Thoriq — SME Stack
# ============================================
# Copy file ini ke .env sebelum menjalankan docker compose
# cp .env.example .env

# === PostgreSQL (Aplikasi) ===
POSTGRES_USER=sme_user
POSTGRES_PASSWORD=sme_password_2024
POSTGRES_DB=sme_db
POSTGRES_PORT=5432

# === PostgreSQL (Airflow Metadata) ===
AIRFLOW_PG_USER=airflow
AIRFLOW_PG_PASSWORD=airflow_password_2024
AIRFLOW_PG_DB=airflow_db
AIRFLOW_PG_PORT=5433

# === Airflow ===
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow_password_2024@airflow-postgres:5432/airflow_db
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

# === Streamlit ===
STREAMLIT_PORT=8501
